
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Login Remove later
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding class="vertical-center">
  <form [formGroup]="loginForm" novalidate>
    <ion-row>
      <ion-col>
        <ion-list padding> <!--inset >-->
          <ion-item>
            <ion-label position="stacked">USERNAME</ion-label>
            <ion-input type="text" formControlName="username" spellcheck="false" autocapitalize="off"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">PASSWORD</ion-label>
            <ion-input type="password" formControlName="password" spellcheck="false" autocapitalize="off"> </ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row responsive-sm>
      <ion-col offset="1" size="10">
        <ion-button type="button" color="danger" expand="block" (click)="login(loginForm)" [disabled]="!loginForm.valid">Login</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
